.topicContainer {
    padding: 50px;
    background-color: rgb(245, 229, 220);
    text-align: center;
    margin: 10px;
}

.title {
  text-align: center;
  font-size: larger;
  color: rgb(29, 7, 7);
}

.description {
  color: rgb(29, 7, 7);
}

